* { 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: "TT Hoves"; 
    color: #222222; 
} 
 
section { 
    padding: 0 calc(10.7vw  - 16.486px); 
    margin-bottom: calc(11vw + 18.564px); 
    position: relative; 
} 
 
 
.logo { 
    width: calc(8.8vw + 182.049px); 
    margin-top: calc(-0.3vw +  41.243px); 
    margin-bottom: calc(6.3vw +  4.381px); 
} 
 
.logoBig { 
background-image: url(./image/html_css_js\ 1.png); 
background-repeat: no-repeat; 
background-size: calc(23.9vw +  89.497px);
background-position: right calc(6vw - 19.083px)  top calc(4.9vw + 58.768px);
} 
 
.course_info { 
    display: flex; 
    gap: calc(14.5vw - 24.282px); 
    margin-bottom: calc(3.1vw + 36.398px); 
    flex-wrap: wrap; 
} 
 
.course_info div { 
    display: flex; 
    flex-direction: column;

} 
 
.title { 
    font-size: calc(0.6vw + 13.928px); 
    line-height: calc(0.8vw + 19.499px); 
    font-weight: 400; 
    width: calc(6vw + 150.624px); 
} 
 
.subtitle { 
    font-size: calc(0.6vw + 13.928px);  
    line-height: calc(0.8vw + 19.499px); 
    font-weight: 700; 
} 
 
h1 { 
    font-family: "Chava"; 
    font-size: calc(4.2vw + 26.25px); 
    color: #222222; 
    margin-top: calc(3.1vw + 36.398px); 
    margin-bottom: calc(2.2vw + 11.713px); 
    font-weight: 400; 
} 
 
.About { 
    width: calc(66.5vw + 78.552px); 
    font-size: calc(1vw + 14.271px);
    font-weight: 300; 
    line-height: calc(1.4vw + 19.979px);  
    margin-bottom: 20px; 
} 
 .ButtonTwo{
    display: flex;
    gap: calc(1.1vw + 15.856px);
    flex-wrap: wrap;
 }
.primary { 
    width: 328px; 
    font-size: 18px; 
    padding: 20px; 
    border-radius: 12px; 
    color: #FFFFFF; 
    background: #6E3ABA; 
} 
 
.secondary { 
    width: 328px; 
    font-size:  18px; 
    padding: 20px; 
    border-radius: 12px; 
    color: #6E3ABA; 
    background: #FFFFFF; 
    border: 1px solid #6E3ABA; 
} 
.course_list{
    width: calc(48.7vw + 145.265px); 
    font-size: calc(2.7vw + 24.055px); 
    font-weight: 500;
    line-height: calc(3.1vw +  28.336px); 
    margin-bottom: calc(5.5vw + 19.282px); 

}
.humans{
    display: flex;
    gap: calc(5.5vw + 19.282px);
    margin-bottom: calc(1.3vw + 35.028px);
    flex-wrap: wrap;
}
.humans div {
    display: flex;
    flex-direction: column;
    width: calc(13.5vw + 277.448px);
    gap: 10px;
}
.Backend{
    width: calc(1.9vw + 167.956px);
    top: -49px;
    left: -39px;
}
.STUD{
    width: calc(1.9vw + 167.956px);
    top: -31px;
    left: -32px;
}
.Program{
    width: calc(1.9vw + 167.956px);
    top: -49px;
    left: -39px;
}
.NewWork{
    width: calc(1.9vw + 167.956px);
    top: -31px;
    left: -32px;
}
.title1 {
    width: calc(10.2vw + 289.878px);
    font-size: calc(1vw + 14.271px);
    font-weight: 600;
    line-height: calc(1.4vw + 19.979px);
    text-align: left;
    margin-bottom: calc(1.1vw +  5.856px);
}

.subtitle1 {
    width: calc(10.2vw + 289.878px);
    font-size: calc(1vw + 14.271px);
    font-weight: 400;
    line-height: calc(1.4vw + 19.979px);
    text-align: left;

}
.bg{ 
    display: flex; 
    flex-direction: column; 
    gap: calc(4.1vw + 4.669px); 
    align-items: center; 
    background-color: #6e3aba; 
    padding: calc(4.9vw + 21.768px) 0; 
} 
.sell{ 
    width: calc(38.2vw + 186.63px);
    font-size: calc(2vw + 26.541px);
    line-height: 117%; 
    color: white; 
    text-align: center;
} 
.sell_container{ 
    display: flex; 
    gap: calc(6.1vw + 7.21px);
} 
.sell_card .time{ 
    font-family: "Chava"; 
    font-size: calc(12.6vw + 12.762px);
    line-height: 107%; 
} 
.sell_card span{ 
    display: block; 
    font-size: calc(1.9vw + 2.956px);
    font-weight: 500; 
    line-height: 117%; 
    text-align: center; 
    margin-left: 10px; 
} 









.month{
    width: calc(48.7vw + 145.265px); 
    font-size: calc(2.7vw + 24.055px); 
    font-weight: 500;
    line-height: calc(3.1vw +  28.336px); 
    margin-bottom: calc(5.5vw + 19.282px); 
}
.MenInfo{
    display: flex;
    flex-direction: row;
    gap: 20px 51px;
    flex-wrap: wrap;
}
.MenPfoto{
    width: calc(7.7vw + 299.994px); 
    height: calc(10.8vw + 423.392px);   
}
.MenConteiner{
    flex-basis: calc(10.4vw + 117.05px); 
    flex-grow: 1;
}
.MenConteiner h4 {
    width: 100%;
    max-width: 566px;
font-size: calc(1.1vw + 33.856px); 
font-weight: 700;
line-height: calc(1.5vw + 39.274px); 
margin-top: calc();
margin-bottom: calc(1.1vw + 5.856px); 
}
.MenConteiner p {
    width: calc(26.3vw + 229.381px); 
    font-size: calc(1vw + 14.271px); 
    font-weight: 400;
    line-height: calc(1.4vw + 19.979px); 
    margin-bottom: calc(5.5vw + 19.282px); 
}
.skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto); 
    width: calc(10.4vw + 117.05px); 
    gap:  calc(1.1vw + 25.856px) calc(8.8vw - 23.149px); 

}
.skill {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}
.skill img {
    width: 36px;
}
.skill span {
    width: calc(7.6vw + 127.409px); 
    font-size: calc(0.6vw + 13.928px); 
    font-weight: 400;
    line-height: calc(0.5vw +  23.46px); 
}





.work{
    width: calc(48.7vw + 145.265px); 
    font-size: calc(2.7vw + 24.055px); 
    font-weight: 500;
    line-height: calc(3.1vw +  28.336px); 
    margin-bottom: calc(5.5vw + 19.282px); 
    text-align: left;

}
.list{
    display: flex;
    gap: calc(9.9vw - 7.293px);
    margin-bottom: calc(6.6vw +  5.138px); 
    flex-wrap: wrap;
}

.list div {
    display: flex;
    flex-direction: column;
    width: calc(11vw + 286.564px);
    gap: calc(1.1vw +  5.856px); 
    opacity: 0px; 
}
.title3 {
    width: calc(8vw + 298.166px);
    font-size: calc(1vw + 14.271px);
    font-weight: 600;
    line-height: calc(1.4vw + 19.979px);
}

.subtitle3 {
    width: calc(8vw + 298.166px);
    font-size: calc(1vw + 14.271px);
    font-weight: 400;
    line-height: calc(1.4vw + 19.979px);
}











.test{
    display: grid;
    grid-template-columns: calc(11.3vw +  284.985px)  1fr;
    grid-template-rows: calc(1.8vw +  113.37)  calc(4.3vw +  58.84)  ;
    grid-template-areas:  "menu1 main "
                          "menu1 foot";
    gap: 20px;
}
.menu1{
    grid-area: menu1;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: foot;
}
.diplomCourse{
    width: calc(27.6vw +  224.409px); 
    font-size: calc(2.7vw +  24.055px); 
    font-weight: 500;
    line-height: calc(3.1vw +  28.336px); 
}
.diplomImage {
    width: 100%;
    max-width: 430px;
}
.diplomConteiner p {
    font-size: calc(1.1vw +  14.271px); 
    font-weight: 400;
    line-height: calc(0.5vw +  23.46px); 
}
@media(max-width: 900px) {
    .test{
        grid-template-columns: 1fr;
        grid-template-rows: 120px 229px 75px;
        grid-template-areas:"main"
                            "menu1"
                            "foot";

    }
}








.web{
    width: calc(44.3vw + 161.84px);
    font-size: calc(2.7vw + 24.055px);
    font-weight: 500;
    line-height: calc(3.1vw +  28.336px); 
    margin-bottom: calc(2.2vw +  11.713px); 
}
.hhuz{
    width: calc(60.6vw +  100.928px); 
    font-size: calc(1vw + 14.271px);
    font-weight: 400;
    line-height: calc(1.4vw +  19.979px); 
    margin-bottom: calc(1.8vw +  13.37px); 
}

.PicAll {
    position: relative; 
    width: calc(81.4vw +  22.613px); 
    height: calc(23.6vw +  7.326px); 
    
}

.Pic1, .Pic2, .Pic3 {
    position: absolute; 
    top: 0;
    left: 0;
}

.Pic1 {
    width: calc(57.3vw +  15.914px); 
    left: calc(5.7vw +  1.594px); 
}

.Pic2 {
    width: calc(57.3vw +  15.914px); 
    left: calc(24.1vw + 6.669px); 
    top: calc(7vw + 1.895px); 
}

.Pic3 {
    width: calc(57.3vw +  15.914px); 
    left: 0px; 
    top: calc(12.5vw +  3.276px); 
}
.hhuz span{
font-weight: 700;
}






.BoxName{
    width: calc(55.2vw +   120.818px); 
    font-size: calc(2.7vw +  24.055px); 
    font-weight: 500;
    line-height: calc(3.1vw +  28.336px); 
    margin-bottom: calc(1.1vw +  15.856px); 
}
.BoxInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

.BoxImage{
    width: 100%;
    max-width: 579px; 
}
.BoxConteiner{
    width: calc(21.2vw +  248.442px); 
    margin-top: calc(5.7vw +  1.594px); 
    

}
.BoxConteiner p {
    font-size: calc(0.3vw +  16.757px); 
    font-weight: 400;
    line-height: calc(0.5vw +  23.46px); 
    margin-bottom: calc(0.6vw +  17.928px); 
    margin-left: calc(-2.7vw +  33.945px); 
}








.courseProgramm{ 
    padding: calc(4.5vw +  23.011px)  calc(4.2vw +  4.254px) calc(1.1vw +  19.856px); 
    border: 2px solid black; 
    position: relative; 
} 
.courseImg{ 
    position: absolute; 
    top: -3px; 
    right: -5px; 
    width: 100%; 
    max-width: 80px; 
} 
.courseProgramm h2{ 
    width: calc(40.7vw +  89.514px);
    font-size: calc(2.7vw +  24.055px);  
    font-weight: 500; 
    line-height: calc(3.1vw +  28.336px);  
    margin-bottom: 40px; 
} 
.courseProgramm ul li{ 
    list-style: none; 
    font-size: calc(0.6vw +  13.928px); 
    padding-bottom: 24px; 
    margin-bottom: 24px; 
    border-bottom: 2px solid #A1A1A1; 
} 
.courseProgrammul{ 
    padding-bottom: 10px; 
    color: #A1A1A1; 
} 
.courseDesktop, .courseMobile { 
    width: 100%;
    max-width: 424px;  
    font-size: 18px;  
    padding: 20px 0;  
    border-radius: 12px;  
    border: 2px solid #6E3ABA; 
    color: #FFFFFF;  
    background: #6E3ABA;  
    display: block; 
    margin: 0 auto; 
    cursor: pointer; 
} 
.courseMobile{ 
    display: none; 
} 
 
@media (max-width: 900px) { 
    .courseDesktop{ 
        display: none; 
    } 
    .courseMobile{ 
        display: block; 
    } 
    .courseProgramm{ 
        margin-bottom: 30px; 
    } 
}








.AboutText{
    width: calc(55.2vw + 120.818px);
    font-size: calc(2.7vw +  24.055px); 
    font-weight: 500;
    line-height: calc(3.1vw +  28.336px); 
    margin-bottom: calc(5.1vw +  14.939px);  
}
.AboutInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: calc(6.3vw +  16.381px); 
}
.AboutInfo  p{
    width: calc(10.8vw + 287.392px); 
    
    font-size: calc(0.6vw +  19.499px); 
    font-weight: 600;
    line-height: calc(0.8vw +  27.899px); 
    text-transform: uppercase;

}


.AboutImg{
    width: 110px;
    margin-bottom: calc(2.2vw + 11.713px); 
}

div h6{
    width: calc(14.7vw +  272.89px); 
    font-size: calc(2vw + 32.541px); 
    font-weight: 700;
    line-height: calc(3.1vw + 28.336px); 
}
.AboutConteiner p {
    font-size: calc(0.6vw +  13.928px); 
    font-weight: 400;
    line-height: calc(0.8vw +  19.499px); 
    margin-bottom: calc(1.1vw +  25.856px);  
}







.UserReview{
    width: calc(56.4vw +  116.674px);
    font-size: calc(2.7vw +  24.055px); 
    font-weight: 500;
    line-height: calc(3.1vw +  28.336px); 
    text-transform: uppercase;
    margin-bottom: calc(2.2vw +  11.713px); 
    
}
.review{
    width: 335px;
    height: 484px;
    background-color: #F0F7FD;
    border-radius: 13px;
    padding: 54.6px 20px 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.review p{
    width: 305px;
    font-size: 21px;
    font-weight: 400;
    line-height: 29.4px;
}
.youtube{
    margin-bottom: 12px;
}
.clientReview{
    display: flex;
    align-items: center;
    gap: 16px;
}
.clientReview img{
    border-radius: 50%;
}
.clientReview span{
    font-size: 21px;
    font-weight: 400;
    line-height: 29.4px;
    width: 169px;
    display: block;
    
}





.Photoshoot{
    font-size: calc(2.7vw +  24.055px); 
    font-weight: 500;
    line-height: calc(3.1vw +  28.336px); 
    text-transform: uppercase;
    margin-bottom: calc(-0.7vw + 22.486px);  
}
.PhotoshootParagraph{
    width: calc(46.4vw + 153.967px); 
    font-size: calc(1vw + 14.271px); 
    font-weight: 400;
    line-height: calc(1.4vw + 19.979px); 
    margin-bottom: calc(0.4vw +  18.343px);  
}
.PhotoshootIMG{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.PhotoshootIMG img {
    width: 100%;
    height: auto;
}



#SPLIDE{
    padding: 0; 
    margin: 0; 
    margin-left: calc(10.7vw  - 16.486px); 
    margin-bottom: calc(11vw + 18.564px); 
}









