* { 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: "TT Hoves"; 
    color: #222222; 
 
} 
 
section { 
    padding: 0 calc(11vw + 18.564px); 
    margin-bottom: calc(11vw + 18.564px); 
    position: relative; 
} 
 
 
.logo { 
    width: 295px; 
    margin-top: 37px; 
    margin-bottom: 85px; 
} 
 
.logoBig { 
background-image: url(./image/html_css_js\ 1.png); 
background-repeat: no-repeat; 
background-size: 30vw; 
background-position: right 58px top 121px;  
} 
 
.course_info { 
    display: flex; 
    gap: 161px; 
    margin-bottom: 76px; 
} 
 
.course_info div { 
    display: flex; 
    flex-direction: column; 
} 
 
.title { 
    font-size: 21px; 
    line-height: 140%; 
    font-weight: 400; 
} 
 
.subtitle { 
    font-size: 21px; 
    line-height: 140%; 
    font-weight: 700; 
} 
 
h1 { 
    font-family: "Chava"; 
    font-size: calc(4.2vw + 26.25px); 
    color: #222222; 
    margin-top: 76px; 
    margin-bottom: 40px; 
    font-weight: 400; 
} 
 
p { 
    width: 930px; 
    font-size: 27px; 
    font-weight: 300; 
    line-height: 37.8px; 
    margin-bottom: 20px; 
} 
 
.primary { 
    width: 328px; 
    font-size: 18px; 
    padding: 20px; 
    border-radius: 12px; 
    color: #FFFFFF; 
    background: #6E3ABA; 
} 
 
.secondary { 
    width: 328px; 
    font-size: 18px; 
    padding: 20px; 
    margin-left: 20px; 
    border-radius: 12px; 
    color: #6E3ABA; 
    background: #FFFFFF; 
    border: 1px solid #6E3ABA; 
} 
.bg{ 
    display: flex; 
    flex-direction: column; 
    gap: 57px; 
    align-items: center; 
    background-color: #6e3aba; 
    padding: 84px 0; 
} 
.sell{ 
    font-size: 52px; 
    line-height: 117%; 
    color: white; 
} 
.sell_container{ 
    display: flex; 
    gap: 85px; 
} 
.sell_card .time{ 
    font-family: "Chava"; 
    font-size: 174px; 
    line-height: 107%; 
} 
.sell_card span{ 
    display: block; 
    font-size: 27px; 
    font-weight: 500; 
    line-height: 117%; 
    text-align: center; 
    margin-left: 10px; 
} 
.secondary{ 
    border-radius: 12px; 
    background-color: #FFFFFF; 
    width: 328px; 
    padding: 20px 0; 
    font-size: 18px; 
    font-weight: 500px; 
    line-height: 117%; 
    color:#6e3aba; 
}
.course_list{
    width: 769px;
    font-size: 58px;
    font-weight: 500;
    line-height: 68.32px;
    letter-spacing: 0.01em;
    margin-bottom: 90px;
    text-align: left;
}
.humans{
    display: flex;
    gap: 70px;
    margin-bottom: 52px;
    flex-wrap: wrap;
}

.humans div {
    display: flex;
    flex-direction: column;
    width: Hug (450px)px;
    height: Hug (506px)px;
    top: 226px;
    left: 120px;
    gap: 10px;
}
.Backend{
    width: calc(1.9vw + 167.956px);
    top: -49px;
    left: -39px;
}
.STUD{
    width: calc(1.9vw + 167.956px);
    top: -31px;
    left: -32px;
}
.title1 {
    width: 450px;
    height: 38px;
    font-size: 27px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.subtitle1 {
    width: 450px;
    height: 228px;
    font-size: 27px;
    font-weight: 400;
    line-height: 37.8px;
    text-align: left;

}
.humans1{
    display: flex;
    gap: 70px;
    margin-bottom: 52px;
    flex-wrap: wrap;
}

.humans1 div {
    display: flex;
    flex-direction: column;
    width: Hug (477px)px;
    height: Hug (506px)px;
    top: 784px;
    left: 640px;
    gap: 10px;   
}
.Program{
    width: calc(1.9vw + 167.956px);
    top: -49px;
    left: -39px;
}
.NewWork{
    width: calc(1.9vw + 167.956px);
    top: -31px;
    left: -32px;
}
.title2 {
    width: 450px;
    font-size: 27px;
    font-weight: 600;
    line-height: 37.8px;
    text-align: left;
    margin-bottom: 20px;
}

.subtitle2 {
    width: 450px;
    font-size: 27px;
    font-weight: 400;
    line-height: 37px;
    text-align: left;
}
.ButSell {
    width: 328px;
    font-size: 18px;
    padding: 20px;
    border-radius: 12px;
    color: #6E3ABA;
    background: #FFFFFF;
    margin-top: 57px;
}
.month{
font-size: 58px;
font-weight: 500;
line-height: 68.32px;
letter-spacing: 0.01em;
margin-bottom: 90px;
text-align: left;
}
.menPh{
    width: 399px;
height: 562px;
top: 158px;
left: 119px;
gap: 0px;
opacity: 0px;
}
.men1{
    width: Hug (566px)px;
    height: Hug (154px)px;
    top: 167px;
    left: 569px;
    gap: 20px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
}
.name1{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
    width: 566px;
    height: 58px;
    gap: 20px;
    opacity: 0px;
    margin-left: 52px;
}
.name2{
    width: 566px;
    height: 76px;
    gap: 0px;
    opacity: 0px;    
    font-size: 27px;
    font-weight: 400;
    line-height: 37.8px;
    text-align: left;
    margin-left: 52px;
}
.Punkt{
    display: flex;
    gap: 39px;

}
.Punkt div{
    display: flex;
    flex-direction: column;
    margin-left: 51px;
    margin-top: 90px;
}
.Punkt1{
    display: flex;
    gap: 39px;

}
.Punkt1 div{
    display: flex;
    flex-direction: column;
    margin-left: 51px;
    margin-top: 40px;
    
}
.logoText{
    width: 36px;
gap: 304px;
opacity: 0px;
margin-bottom: 10px;
}
.textNam{
    width: 250px;
height: 58px;
gap: 0px;
opacity: 0px;
font-size: 21px;
font-weight: 400;
line-height: 29.4px;
text-align: left;
}
.work{

left: 120px;
margin-bottom: 90px;
font-size: calc(2.7vw + 24.055px); 
font-weight: 500;
line-height: 68.32px;
letter-spacing: 0.01em;

}
.list{
    display: flex;
    gap: 120px;
    margin-bottom: 90px;
    flex-wrap: wrap;
}

.list div {
    display: flex;
    flex-direction: column;
    width: calc(11vw + 286.564px);
 
    top: 226px;
    left: 640px;
    gap: 20px;
    opacity: 0px;
    
     
}
.title3 {
    width: 450px;
    font-size: calc(1vw + 14.271px);
    font-weight: 600;
    line-height: 37.8px;
    text-align: left;
    margin-bottom: 20px;
}

.subtitle3 {
    width: 450px;
    font-size: calc(1vw + 14.271px);
    font-weight: 400;
    line-height: 37px;
    text-align: left;
}
